<%= link_to 'Write a Rating', new_anecdote_rating_path(@anecdote) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @anecdote.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @anecdote.body %>
</p>

<p>
  <%= image_tag @anecdote.anecdote_image(:medium) %>
</p>

<p>
  <strong>User:</strong>
  <%= @anecdote.user %>
</p>

<%= link_to 'Edit', edit_anecdote_path(@anecdote) %> |
<%= link_to 'Back', anecdotes_path %>

<%= @ratings.each do |rating| %>
<p><%= rating.value %></p>
<h5>Posted by <%= rating.user.email %></h5>
<% end %>

